/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* Estilo para el botón de login */
.buttons {
    -fx-background-color: #0F4C75; 
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 16px; /* Tamaño de la fuente */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Fondo redondeado */
}
.buttons:hover {
    -fx-background-color: #3282B8;
}
.buttons:pressed{
    -fx-background-color: #0F4C75;
}
.buttons3{
    -fx-background-color: #0F4C75; 
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 13px; /* Tamaño de la fuente */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Fondo redondeado */
}
.buttons3:hover {
    -fx-background-color: #3282B8;
}
.buttons3:pressed{
    -fx-background-color: #0F4C75;
}
/* Estilo para el campo de texto */
.text-field {
    -fx-background-color: #f0f0f0; /* Fondo gris claro */
    -fx-padding: 5px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Fondo redondeado */
    -fx-border-color: #ccc; /* Color del borde */
    -fx-border-width: 1px; /* Ancho del borde */
}

/* Estilo para el campo de contraseña */
.password-field {
    -fx-background-color: #f0f0f0; /* Fondo gris claro */
    -fx-padding: 5px; /* Espaciado interno */
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Fondo redondeado */
    -fx-border-color: #ccc; /* Color del borde */
    -fx-border-width: 1px; /* Ancho del borde */
}

.label-error {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}

.label-text{
    -fx-text-fill: #0F4C75; /* Color de texto base */
    -fx-font-family: 'Calibri';
    -fx-font-style: italic;
    -fx-font-weigth: bold;
    -fx-padding: 10px; /* Espaciado interno */
}
.gridpane{
    -fx-background-color: #0F4C75;
}

.label-text-white{
    -fx-text-fill: white; /* Color de texto base */
    -fx-font-family: 'Calibri';
    -fx-font-style: italic;
}
.toolbar {
    -fx-background-color: #0F4C75; /* Color de fondo de la Toolbar */
    -fx-background-radius: 10px 10px 0px 0px;
}
.toolbar:hover {
    -fx-scale-x: 1.1; /* Escalar el botón en el eje X al pasar el ratón sobre él */
    -fx-scale-y: 1.1; /* Escalar el botón en el eje Y al pasar el ratón sobre él */
}
.buttons2 {
    -fx-background-color: #0F4C75; 
    -fx-border-radius: 5px; /* Bordes redondeados */
    -fx-background-radius: 5px; /* Fondo redondeado */
}
.buttons2:hover {
    -fx-scale-x: 1.1; /* Escalar el botón en el eje X al pasar el ratón sobre él */
    -fx-scale-y: 1.1; /* Escalar el botón en el eje Y al pasar el ratón sobre él */
    -fx-background-color: #3282B8;
    -fx-background-color: #0F4C75;
}
